$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #353535;

@keyframes heart {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@mixin heart {
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: transparent;
    &:hover {
        background: linear-gradient(to top right, $color-secondary 0%,$color-primary 100%);
        background-clip: text;
        animation: heart 1s;
        -webkit-text-stroke-width: 0;
    }
}


/***********
    LOADER
*/
@keyframes loader-scroll {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: inherit;
    }
}

.loader-scroll {
    animation: loader-scroll 3s;
}

@keyframes loader-opacity {
    0% {
        opacity: 90%;
        z-index: 5;
    }
    99% {
        opacity: 90%;
        z-index: 5;
    }
    100% {
        opacity: 0%;
        z-index: -1;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-container * {
    box-sizing: content-box;
}

.loader-container {
    animation: loader-opacity 3s both;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 5;

    span {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 100%;
        i {
            position: relative;
        }
        .loader {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: lightgrey solid 6px;
            border-radius: 50px;
            margin-right: 1rem;
        }
        .loader-quart {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: lightgrey solid 6px;
            &:after {
                content:"";
                animation: loader-spin 1s linear 0s infinite;
                position: absolute;
                top: -6px; left: -6px; bottom: -6px; right: -6px;
                width: 50px; height: 50px;
                border: transparent solid 6px;
                border-top: grey solid 6px;
                border-radius: 50px;
            }
        }

    }
}
/*
    LOADER
***********/


/***********
    LOCALISATION
*/
.localisation {
    background: linear-gradient(to bottom, #afafaf, 1px, #EAEAEA);
    padding: 1rem 0;
    text-align: center;

    span {
        font-weight: 500;

        i {
            padding-right: 1rem;
            color: #353535;
        }
    }
}
/*
    LOCALISATION
***********/


/***********
    EXPLORATION
*/
.exploration {
    font-size: 1rem;
    padding: 2em 10%;
    background-color: #F6F6F6;
    text-align: center;

    h1 {
        padding: 0 10%;
        font-size: 1.4em;
        font-weight: 800;
    }

    span {
        display: inline-block;
        padding: 0.9em 0 1.8em;
    }

    button {
        margin-bottom: 1.5rem;
        padding: 1em 1.5em;
        box-shadow: #bbbbbb 0 0.3em 0.5em;
        border: none;
        border-radius: 2em;
        background: linear-gradient(to bottom right, $color-secondary, 50%, $color-primary);
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 85%;
            box-shadow: #979797 0 0.3em 0.5em;
            transition: opacity 0.5s;
        }
    }
}
/*
    EXPLORATION
***********/


/***********
    FONCTIONNEMENT
*/
.fonctionnement {
    font-size: 1rem;
    padding: 3em 5%;

    h2 {
        margin-bottom: 2rem;
    }

    div {
        display: flex;
        position: relative;
        margin: 0.5em 0 0.5em 1em;
        border-radius: 1.3em;
        padding: 1.5em;
        background-color: #F6F6F6;
        box-shadow: #dcdcdc 0 0.3em 0.5em;
        &:hover {
            background-color: #F5EDFF;
            i {
                color: $color-primary;
            }
        }

        span {
            display: flex;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            height: 1.5rem;
            width: 1.5rem;

            border-radius: 1rem;
            background-color: $color-primary;
            justify-content: center;
            align-items: center;
            color: white;
        }

        i {
            position: absolute;
            left: 2.2em;
            font-size: 1.1em;
            color: grey;
        }

        p {
            padding-left: 4em;
            font-weight: 500;
        }
    }
}
/*
    FONCTIONNEMENT
***********/


/***********
    RESTAURANTS
*/
.restaurants {
    padding: 3rem 5%;
    background-color: #F3F3F3;
    font-size: 1rem;
}

.restau_container {
    overflow: hidden;
    position: relative;
    box-shadow: #dcdcdc 0 0.3em 0.5em;
    border-radius: 1em;
    background-color: white;
    margin: 1em 0;
    padding-bottom: 1em;

    img {
        height: 10rem;
        width: 100%;
        object-position: 0% 70%;
    }

    strong {
        position: absolute;
        z-index: 2;
        top: 0.7em;
        right: 0.7em;
        padding: 0.5em;
        background-color: #99E2D0;
        color: #139273;
        font-size: 0.8em;
    }

    h4 {
        padding: 0.7em 0 0.2em 1em;
    }

    span {
        padding-left: 1rem;
    }

    i {
        position: absolute;
        right: 8%;
        bottom: 15%;
        @include heart;
    }
}

/*
    RESTAURANTS
***********/