@keyframes heart {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

/***********
    LOADER
*/
@keyframes loader-scroll {
  0% {
    overflow: hidden; }
  99% {
    overflow: hidden; }
  100% {
    overflow: inherit; } }

.loader-scroll {
  animation: loader-scroll 3s; }

@keyframes loader-opacity {
  0% {
    opacity: 90%;
    z-index: 5; }
  99% {
    opacity: 90%;
    z-index: 5; }
  100% {
    opacity: 0%;
    z-index: -1; } }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-container * {
  box-sizing: content-box; }

.loader-container {
  animation: loader-opacity 3s both;
  display: flex;
  position: fixed;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 5; }
  .loader-container span {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 100%; }
    .loader-container span i {
      position: relative; }
    .loader-container span .loader {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: lightgrey solid 6px;
      border-radius: 50px;
      margin-right: 1rem; }
    .loader-container span .loader-quart {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: lightgrey solid 6px; }
      .loader-container span .loader-quart:after {
        content: "";
        animation: loader-spin 1s linear 0s infinite;
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        width: 50px;
        height: 50px;
        border: transparent solid 6px;
        border-top: grey solid 6px;
        border-radius: 50px; }

/*
    LOADER
***********/
/***********
    LOCALISATION
*/
.localisation {
  background: linear-gradient(to bottom, #afafaf, 1px, #EAEAEA);
  padding: 1rem 0;
  text-align: center; }
  .localisation span {
    font-weight: 500; }
    .localisation span i {
      padding-right: 1rem;
      color: #353535; }

/*
    LOCALISATION
***********/
/***********
    EXPLORATION
*/
.exploration {
  font-size: 1rem;
  padding: 2em 10%;
  background-color: #F6F6F6;
  text-align: center; }
  .exploration h1 {
    padding: 0 10%;
    font-size: 1.4em;
    font-weight: 800; }
  .exploration span {
    display: inline-block;
    padding: 0.9em 0 1.8em; }
  .exploration button {
    font-size: 1rem;
    display: block;
    margin: 0 auto 1.5rem;
    padding: 1em 1.5em;
    box-shadow: #bbbbbb 0 0.3em 0.5em;
    border: none;
    border-radius: 2em;
    background: linear-gradient(to bottom right, #FF79DA, 50%, #9356DC);
    color: white;
    cursor: pointer; }
    .exploration button:hover {
      opacity: 85%;
      box-shadow: #979797 0 0.3em 0.5em;
      transition: opacity 0.5s; }

/*
    EXPLORATION
***********/
/***********
    FONCTIONNEMENT
*/
.fonctionnement {
  font-size: 1rem;
  padding: 3em 5%; }
  .fonctionnement h2 {
    margin-bottom: 2rem; }
  .fonctionnement div {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.5em 0 0.5em 1em;
    border-radius: 1.3em;
    padding: 1.5em;
    background-color: #F6F6F6;
    box-shadow: #dcdcdc 0 0.3em 0.5em; }
    .fonctionnement div:hover {
      background-color: #F5EDFF; }
      .fonctionnement div:hover i {
        color: #9356DC; }
    .fonctionnement div span {
      display: flex;
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1rem;
      background-color: #9356DC;
      justify-content: center;
      align-items: center;
      color: white; }
    .fonctionnement div i {
      font-size: 1.1em;
      width: 2rem;
      padding-left: 0.5em;
      color: grey; }
    .fonctionnement div p {
      padding-left: 0.6em;
      font-weight: 500; }

/*
    FONCTIONNEMENT
***********/
/***********
    RESTAURANTS
*/
.restaurants {
  padding: 3rem 5%;
  background-color: #F3F3F3;
  font-size: 1rem; }

.restau_container {
  overflow: hidden;
  position: relative;
  box-shadow: #dcdcdc 0 0.3em 0.5em;
  border-radius: 1em;
  background-color: white;
  margin: 1em 0;
  padding-bottom: 1em; }
  .restau_container img {
    height: 10rem;
    width: 100%;
    object-position: 0% 70%; }
  .restau_container strong {
    position: absolute;
    z-index: 2;
    top: 0.7em;
    right: 0.7em;
    padding: 0.5em;
    background-color: #99E2D0;
    color: #139273;
    font-size: 0.8em; }
  .restau_container h4 {
    padding: 0.7em 0 0.2em 1em; }
  .restau_container span {
    padding-left: 1rem; }
  .restau_container i {
    position: absolute;
    right: 8%;
    bottom: 15%;
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: transparent; }
    .restau_container i:hover {
      background: linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
      background-clip: text;
      animation: heart 1s;
      -webkit-text-stroke-width: 0; }

/*
    RESTAURANTS
***********/
/***********
    TABLETTE
*/
@media only screen and (min-width: 600px) {
  .restaurants .restau_container a img {
    height: 15rem; }
  .restaurants .restau_container a i {
    bottom: 12%; }
  .restaurants .restau_container a strong {
    font-size: 1.3em; } }

/*
    TABLETTE
***********/
/***********
    DESKTOP
*/
@media only screen and (min-width: 1000px) {
  html {
    font-size: 18px; }
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .fonctionnement > h2 {
      width: 100%; }
    .fonctionnement > div {
      width: 30%; }
      .fonctionnement > div i {
        display: flex;
        align-items: center;
        position: initial;
        padding-left: 0.2em; }
      .fonctionnement > div p {
        padding-left: 0.8em; }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .restaurants h2 {
      width: 100%; }
    .restaurants .restau_container {
      width: 46%; }
  footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    footer h5 {
      width: 100%;
      font-size: 1.5em; }
    footer a {
      width: 25%; }
      footer a::before {
        position: initial;
        padding-right: 0.7em; } }

/*
    DESKTOP
***********/
