@-webkit-keyframes heart {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

@keyframes heart {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

/***********
    LOADER
*/
@-webkit-keyframes loader-scroll {
  0% {
    height: 100vh;
    overflow: hidden; }
  99% {
    height: 100vh;
    overflow: hidden; }
  100% {
    height: auto;
    overflow: inherit; } }
@keyframes loader-scroll {
  0% {
    height: 100vh;
    overflow: hidden; }
  99% {
    height: 100vh;
    overflow: hidden; }
  100% {
    height: auto;
    overflow: inherit; } }

.loader-scroll {
  -webkit-animation: loader-scroll 3s;
  animation: loader-scroll 3s; }

@-webkit-keyframes loader-opacity {
  0% {
    opacity: 90%;
    z-index: 5; }
  99% {
    opacity: 90%;
    z-index: 5; }
  100% {
    opacity: 0%;
    z-index: -1; } }

@keyframes loader-opacity {
  0% {
    opacity: 90%;
    z-index: 5; }
  99% {
    opacity: 90%;
    z-index: 5; }
  100% {
    opacity: 0%;
    z-index: -1; } }

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loader-container * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.loader-container {
  -webkit-animation: loader-opacity 3s both;
  animation: loader-opacity 3s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 5; }
  .loader-container span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 100%; }
    .loader-container span i {
      position: relative; }
    .loader-container span .loader {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: lightgrey solid 6px;
      border-radius: 50px;
      margin-right: 1rem; }
    .loader-container span .loader-quart {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: lightgrey solid 6px; }
      .loader-container span .loader-quart:after {
        content: "";
        -webkit-animation: loader-spin 1s linear 0s infinite;
        animation: loader-spin 1s linear 0s infinite;
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        width: 50px;
        height: 50px;
        border: transparent solid 6px;
        border-top: grey solid 6px;
        border-radius: 50px; }

/*
    LOADER
***********/
/***********
    LOCALISATION
*/
.localisation {
  background: -webkit-linear-gradient(top, #afafaf, 1px, #EAEAEA);
  background: -o-linear-gradient(top, #afafaf, 1px, #EAEAEA);
  background: linear-gradient(to bottom, #afafaf, 1px, #EAEAEA);
  padding: 1rem 0;
  text-align: center; }
  .localisation span {
    font-weight: 500; }
    .localisation span i {
      padding-right: 1rem;
      color: #353535; }

/*
    LOCALISATION
***********/
/***********
    EXPLORATION
*/
.exploration {
  font-size: 1rem;
  padding: 2em 10%;
  background-color: #F6F6F6;
  text-align: center; }
  .exploration h1 {
    padding: 0 10%;
    font-size: 1.4em;
    font-weight: 800; }
  .exploration span {
    display: inline-block;
    padding: 0.9em 0 1.8em; }
  .exploration button {
    margin-bottom: 1.5rem;
    padding: 1em 1.5em;
    -webkit-box-shadow: #bbbbbb 0 0.3em 0.5em;
    box-shadow: #bbbbbb 0 0.3em 0.5em;
    border: none;
    border-radius: 2em;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: -webkit-linear-gradient(top left, #FF79DA, 50%, #9356DC);
    background: -o-linear-gradient(top left, #FF79DA, 50%, #9356DC);
    background: linear-gradient(to bottom right, #FF79DA, 50%, #9356DC);
    color: white;
    cursor: pointer; }
    .exploration button:hover {
      opacity: 85%;
      -webkit-box-shadow: #979797 0 0.3em 0.5em;
      box-shadow: #979797 0 0.3em 0.5em;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }

/*
    EXPLORATION
***********/
/***********
    FONCTIONNEMENT
*/
.fonctionnement {
  font-size: 1rem;
  padding: 3em 5%; }
  .fonctionnement h2 {
    margin-bottom: 2rem; }
  .fonctionnement div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0.5em 0 0.5em 1em;
    border-radius: 1.3em;
    padding: 1.5em;
    background-color: #F6F6F6;
    -webkit-box-shadow: #dcdcdc 0 0.3em 0.5em;
    box-shadow: #dcdcdc 0 0.3em 0.5em; }
    .fonctionnement div:hover {
      background-color: #F5EDFF; }
      .fonctionnement div:hover i {
        color: #9356DC; }
    .fonctionnement div span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1rem;
      background-color: #9356DC;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white; }
    .fonctionnement div i {
      position: absolute;
      left: 2.2em;
      font-size: 1.1em;
      color: grey; }
    .fonctionnement div p {
      padding-left: 4em;
      font-weight: 500; }

/*
    FONCTIONNEMENT
***********/
/***********
    RESTAURANTS
*/
.restaurants {
  padding: 3rem 5%;
  background-color: #F3F3F3;
  font-size: 1rem; }

.restau_container {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: #dcdcdc 0 0.3em 0.5em;
  box-shadow: #dcdcdc 0 0.3em 0.5em;
  border-radius: 1em;
  background-color: white;
  margin: 1em 0;
  padding-bottom: 1em; }
  .restau_container img {
    height: 10rem;
    width: 100%;
    -o-object-position: 0% 70%;
    object-position: 0% 70%; }
  .restau_container strong {
    position: absolute;
    z-index: 2;
    top: 0.7em;
    right: 0.7em;
    padding: 0.5em;
    background-color: #99E2D0;
    color: #139273;
    font-size: 0.8em; }
  .restau_container h4 {
    padding: 0.7em 0 0.2em 1em; }
  .restau_container span {
    padding-left: 1rem; }
  .restau_container i {
    position: absolute;
    right: 8%;
    bottom: 15%;
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: transparent; }
    .restau_container i:hover {
      background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
      background: -webkit-linear-gradient(bottom left, #FF79DA 0%, #9356DC 100%);
      background: -o-linear-gradient(bottom left, #FF79DA 0%, #9356DC 100%);
      background: linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-animation: heart 1s;
      animation: heart 1s;
      -webkit-text-stroke-width: 0; }

/*
    RESTAURANTS
***********/
