/*TMP*/
header img {
  width: auto;
  height: auto;
  -o-object-fit: inherit;
  object-fit: inherit; }

img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover; }

/***********
    
*/
/*
    
***********/
/***********
    GLOBAL
*/
html {
  font-family: "Roboto" ,sans-serif;
  font-weight: 300; }

h2 {
  /*Police Primaire*/
  font-size: 1.5rem;
  font-weight: 700; }

h3 {
  /*Police Secondaire*/ }

h4 {
  /*Texte*/ }

/*
    GLOBAL
***********/
/***********
    HEADER
*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 4rem;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header a {
    position: absolute;
    left: 5%; }
    header a i {
      font-size: 1.3rem;
      color: #353535; }
  header img {
    height: 80%;
    width: 45%; }

/*
    HEADER
***********/
/***********
    LOCALISATION
*/
.localisation {
  background: -webkit-linear-gradient(top, #afafaf, 1px, #EAEAEA);
  background: -o-linear-gradient(top, #afafaf, 1px, #EAEAEA);
  background: linear-gradient(to bottom, #afafaf, 1px, #EAEAEA);
  padding: 1rem 0;
  text-align: center; }
  .localisation span {
    font-weight: 500; }
    .localisation span i {
      padding-right: 1rem;
      color: #353535; }

/*
    LOCALISATION
***********/
/***********
    EXPLORATION
*/
.exploration {
  font-size: 1rem;
  padding: 2em 10%;
  background-color: #F6F6F6;
  text-align: center; }
  .exploration h1 {
    padding: 0 10%;
    font-size: 1.4em;
    font-weight: 800; }
  .exploration span {
    display: inline-block;
    padding: 0.9em 0 1.8em; }
  .exploration button {
    margin-bottom: 1.5rem;
    padding: 1em 1.5em;
    border: none;
    border-radius: 2em;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: -webkit-linear-gradient(top left, #FF79DA, 50%, #9356DC);
    background: -o-linear-gradient(top left, #FF79DA, 50%, #9356DC);
    background: linear-gradient(to bottom right, #FF79DA, 50%, #9356DC);
    color: white; }

/*
    EXPLORATION
***********/
/***********
    FONCTIONNEMENT
*/
.fonctionnement {
  font-size: 1rem;
  padding: 3em 5%; }
  .fonctionnement h2 {
    margin-bottom: 2rem; }
  .fonctionnement div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0.5em 0 0.5em 1em;
    border-radius: 1.3em;
    padding: 1.5em;
    background-color: #F6F6F6;
    -webkit-box-shadow: #dcdcdc 0 0.3em 0.5em;
    box-shadow: #dcdcdc 0 0.3em 0.5em;
    color: grey; }
    .fonctionnement div:hover {
      background-color: #F5EDFF;
      color: #9356DC; }
    .fonctionnement div span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1rem;
      background-color: #9356DC;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white; }
    .fonctionnement div i {
      position: absolute;
      left: 2.2em;
      font-size: 1.1em; }
    .fonctionnement div p {
      padding-left: 4em;
      color: black;
      font-weight: 500; }

/*
    FONCTIONNEMENT
***********/
/***********
    FOOTER
*/
footer {
  background-color: #353535;
  padding: 1.5em;
  color: white; }
  footer h5 {
    padding-bottom: 0.8em;
    font-family: "Shrikhand", serif;
    font-size: 1.1rem; }
  footer a {
    display: block;
    position: relative;
    padding: 0.3em 0; }
    footer a:nth-child(2), footer a:nth-child(3) {
      padding-left: 1.5em;
      font-weight: 400; }
    footer a::before {
      position: absolute;
      left: 0;
      font-family: "Font Awesome 5 Free";
      font-size: 0.9em;
      font-weight: 800; }
    footer a:nth-child(2)::before {
      content: "\f2e7"; }
    footer a:nth-child(3)::before {
      content: "\f4c4";
      font-size: 0.8em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

/*
    FOOTER
***********/
