/*TMP*/
header img {
    width: auto;
    height: auto;
    object-fit: inherit;
}
img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/***********
    
*/

/*
    
***********/


/***********
    GLOBAL
*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #353535;

html {
    font-family: "Roboto" ,sans-serif;
    font-weight: 300;
}

h2 {    /*Police Primaire*/ 
    font-size: 1.5rem;
    font-weight: 700;
}
h3 {    /*Police Secondaire*/

}

h4 {    /*Texte*/

}

/*
    GLOBAL
***********/


/***********
    HEADER
*/
header {
    display: flex;
    position: relative;
    height: 4rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    a {
        position: absolute;
        left: 5%;
        i {
            font-size: 1.3rem;
            color: $color-grey;
        }
    }
    img {
        height: 80%;
        width: 45%;
    }
}
/*
    HEADER
***********/


/***********
    LOCALISATION
*/
.localisation {
    background: linear-gradient(to bottom, #afafaf, 1px, #EAEAEA);
    padding: 1rem 0;
    text-align: center;

    span {
        font-weight: 500;

        i {
            padding-right: 1rem;
            color: #353535;
        }
    }
}
/*
    LOCALISATION
***********/


/***********
    EXPLORATION
*/
.exploration {
    font-size: 1rem;
    padding: 2em 10%;
    background-color: #F6F6F6;
    text-align: center;

    h1 {
        padding: 0 10%;
        font-size: 1.4em;
        font-weight: 800;
    }

    span {
        display: inline-block;
        padding: 0.9em 0 1.8em;
    }

    button {
        margin-bottom: 1.5rem;
        padding: 1em 1.5em;
        border: none;
        border-radius: 2em;
        background: linear-gradient(to bottom right, $color-secondary, 50%, $color-primary);
        color: white;
    }
}
/*
    EXPLORATION
***********/


/***********
    FONCTIONNEMENT
*/
.fonctionnement {
    font-size: 1rem;
    padding: 3em 5%;

    h2 {

    }

    div {
        display: flex;
        position: relative;
        margin: 0.5em 0 0.5em 1em;
        border-radius: 1.3em;
        padding: 1.5em;
        background-color: #F6F6F6;
        box-shadow: #dcdcdc 0 0.3em 0.5em;
        color: grey;
        &:hover {
            background-color: #F5EDFF;
            color: $color-primary;
        }

        span {
            display: flex;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            height: 1.5rem;
            width: 1.5rem;

            border-radius: 1rem;
            background-color: $color-primary;
            justify-content: center;
            align-items: center;
            color: white;
        }

        i {
            position: absolute;
            left: 2.2em;
            font-size: 1.1em;
        }

        p {
            padding-left: 4em;
            color: black;
            font-weight: 500;
        }
    }
}
/*
    FONCTIONNEMENT
***********/





/***********
    FOOTER
*/
footer {
    background-color: $color-grey;
    padding: 1.5em;
    color: white;

    h5 {
        padding-bottom: 0.8em;
        font-family: "Shrikhand", serif;
        font-size: 1.1rem;
    }

    a {
        display: block;
        position: relative;
        padding: 0.3em 0;

        &:nth-child(2),
        &:nth-child(3) {
            padding-left: 1.5em;
            font-weight: 400;
        }
        &::before {
            position: absolute;
            left: 0;
            font-family: "Font Awesome 5 Free";
            font-size: 0.9em;
            font-weight: 800;
        }
        &:nth-child(2)::before {
            content: "\f2e7";
        }
        &:nth-child(3)::before {
            content: "\f4c4";
            font-size: 0.8em;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
/*
    FOOTER
***********/